<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ORGO">
        <activity
            android:name=".feed_back"
            android:label="Feedback"
            android:exported="false" />
        <activity
            android:name=".user_profile"
            android:label="Profile"
            android:exported="false" />
        <activity
            android:name=".donate_body"
            android:label="Donate Body"
            android:exported="false" />
        <activity
            android:name=".myth_fact"
            android:label="Myth &amp; Fact About Organ Donation"
            android:exported="false" />
        <activity
            android:name=".about_orgo"
            android:label="About Organ donation"
            android:exported="false" />
        <activity
            android:name=".verifyotp"
            android:exported="false"
            android:label="ORGO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".know_donation"
            android:exported="false" />
        <activity
            android:name=".awareness"
            android:label="Donation Awareness"
            android:exported="false" />
        <activity
            android:name=".organization"
            android:label="Government Organization"
            android:exported="false" />
        <activity
            android:name=".law_trans"
            android:label="Law on Transplant"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:label="ORGO"
            android:exported="false" />
        <activity
            android:name=".forgot_pwd"
            android:exported="false"
            android:label="ORGO"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sign_up"
            android:exported="false"
            android:label="ORGO"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>